<table mat-table [dataSource]="dataSource" *ngIf="dataSource" id="tier-maker-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let index=index;" [style.background-color]="element.color">
      <div class="button-container-container">
        <div class="arrow-button-container">
          <button
            *ngIf="index != 0"
            mat-mini-fab aria-label="Plus icon"
            (click)="onSwapButtonClicked(element.id, true)"
          >
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>        
          <button
            *ngIf="index != dataSource.length-1"
            mat-mini-fab aria-label="Plus icon"
            (click)="onSwapButtonClicked(element.id, false)"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <div class="centered">
          <button mat-mini-fab aria-label="Plus icon" (click)="onEditTierButtonClicked(element.id)">
            <mat-icon>brush</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Pictures Column -->
  <ng-container matColumnDef="pictures">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div
        [id]="getCurrentId(element)"
        [cdkDropListData]="element.pictures"
        (cdkDropListDropped)="onPictureDroppped($event)"
        [cdkDropListConnectedTo]="getConnectedLists(getCurrentId(element))"
        cdkDropListOrientation="horizontal"
        class="drag-container"
        cdkDropList
      >
        <div
          *ngFor="let picture of element.pictures"
          class="drag-box"
          [cdkDragData]="picture"
          cdkDrag
        >
          <img class="drag-picture--table" [src]="picture" alt="Tier maker picture!">
        </div>
        <div class="drag-box empty-drag-box--table" cdkDrag [hidden]="element.pictures.lenght > 0"></div>
      </div>
    </td>
  </ng-container>
<!-- Buttons Column -->
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.buttons}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

