<table mat-table [dataSource]="dataSource" *ngIf="dataSource" id="tier-maker-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Pictures Column -->
  <ng-container matColumnDef="pictures">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div
        [id]="getCurrentId(element)"
        [cdkDropListData]="element.pictures"
        (cdkDropListDropped)="onPictureDroppped($event)"
        [cdkDropListConnectedTo]="getConnectedLists(getCurrentId(element))"
        cdkDropListOrientation="horizontal"
        class="drag-container"
        cdkDropList
      >
        <div
          *ngFor="let picture of element.pictures"
          class="drag-box"
          [cdkDragData]="picture"
          cdkDrag
        >
          <img class="drag-picture--table" [src]="picture" alt="Tier maker picture!">
        </div>
        <div class="drag-box empty-drag-box" cdkDrag [hidden]="element.pictures.lenght > 0"></div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

