.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-right: 0.3rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  height: calc(100vh - 56px);
}

.full {
  height: 100vh;
}

.extra-margin-top {
  margin-top: 56px;
}

.mat-drawer {
  width: 220px;
}

.mat-drawer-content.full {
  height: 100%;
  min-height: 100vh;
}
