<nav
  tier-nav-bar
  (logout)="onLogoutButtonClicked()"
  (logoClick)="onLogoClicked()"
  (addNewTierList)="onAddNewTierListButtonClicked()"
  *ngIf="!isLoginRoute()"
></nav>

<div class="container" [class.extra-margin-top]="!isLoginRoute()">
  <main [class.full]="isLoginRoute()">
    <header
      [title]="getViewTitle()"
      [hasSearch]="hasSearch()"
      [reset]="resetSearchQuery"
      (inputSubmit)="onSearchQueryUpdated($event)"
      (menuClick)="drawer.toggle()"
      tier-main-header
      *ngIf="!isLoginRoute()"
    ></header>

    <mat-drawer-container [class.full]="isLoginRoute()">
      <mat-drawer mode="side" opened *ngIf="!isLoginRoute()" #drawer>
        <div class="view" [tierListItems]="tierListItems" (elementSelect)="onSidebarElementSelected($event)" tier-sidebar></div>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </main>
</div>


