img {
  max-height: 100px;
  object-fit: cover;
}

.header-cell {
  width: 140px;
  height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.move-cell {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1a2041;
  color: white;
  mat-icon {
    font-size: 27px !important;
  }
}

.config-cell {
  height: 100px;
  background-color: #1a2041;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table mat-list-item {
  height: 100px !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.678);
  padding-left: 0 !important;
  background-color: #3f51b598;

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:first-child .move-cell {
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:last-child .move-cell {
    border-bottom-left-radius: 4px;
  }

  ::ng-deep .mat-list-item-content {
    padding-left: 0 !important;
  }
}

.pictures-container {
  display: flex;
  min-height: 90px;
  min-width: 90px;
  height: 100%;
  width: 100%;
}

mat-card,
mat-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0;
}

mat-list-item {
  flex: 1 1 auto;
}

mat-card-content {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  overflow: hidden;
}

:host {
  display: flex;
  overflow: auto;
}
