img {
  max-height: 100px;
  object-fit: cover;
}

.header-cell {
  width: 100px;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#table mat-list-item {
  height: 100px !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 0 !important;

  ::ng-deep .mat-list-item-content {
    padding-left: 0 !important;
  }
}

.pictures-container {
  display: flex;
  min-height: 90px;
  min-width: 90px;
  height: 100%;
  width: 100%;
}

mat-card,
mat-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

mat-list-item {
  flex: 1 1 auto;
}

mat-card-content {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  overflow: hidden;
}

:host {
  display: flex;
  overflow: auto;
}
