<!-- {{ tierList.title }}
{{ tierList.description }} -->
<!-- banner?: string;
category: Category;
favorite -->

<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="tierList.banner" alt="Photo of a Shiba Inu">
    <mat-card-title>{{ tierList.title }}</mat-card-title>
    <mat-card-subtitle>{{ tierList.description }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div [tierList]="tierList" tier-list-table></div>
<div [pictures]="pictures" pictures-list></div>
