<mat-toolbar>
  <span>
    {{ tierList.title }}
  </span>

  <span class="spacer"></span>

  <button mat-icon-button
    aria-label="Plus icon" (click)="onAddTierButtonClicked()"
    matTooltip="Añadir nueva fila"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button
    aria-label="Fill icon" (click)="onFillTiersRandomlyButtonClicked()"
    matTooltip="Rellenar todas las filas"
  >
    <mat-icon>shuffle</mat-icon>
  </button>

  <button
    mat-flat-button
    aria-label="Save button"
    (click)="onSaveChangesButtonClicked()"
    color="primary"
  >
    Guardar cambios
  </button>

  <button
    mat-flat-button
    aria-label="Save button"
    (click)="onEditFullTierListButtonClicked()"
  >
    Editar
  </button>
</mat-toolbar>

<div class="description-container">
  {{ tierList.description }}
</div>

<div
  [tierList]="tierList"
  [allListIds]="getAllIds()"
  (pictureDrop)="onPictureDropped($event)"
  (moveUp)="onMoveUpButtonClicked($event)"
  (moveDown)="onMoveDownButtonClicked($event)"
  (remove)="onRemoveButtonClicked($event)"
  (edit)="onEditButtonClicked($event)"
  tier-list-table
></div>
<div
  [pictures]="pictures"
  [allListIds]="getAllIds()"
  [id]="getPicturesContainerId()"
  (pictureDrop)="onPictureDropped($event)"
  pictures-list
></div>
