<nav>
  <mat-toolbar color="primary">
    <span>Tier maker, baby!</span>
    <span class="spacer"></span>
    <button mat-mini-fab aria-label="Plus icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</nav>

<main>
  <mat-card>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    <mat-card-content>
      <div
        tier-maker-table
        [dataSource]="tableDataSource"
        [displayedColumns]="displayedColumns"
        [allListIds]="getAllListIds()"
        (pictureDrop)="onPictureDroppped($event)"
        class="tier-maker-table"
      ></div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div
        [dataSource]="gridDataSource"
        [picturesGridId]="picturesGridId"
        [allListIds]="getAllListIds()"
        (pictureDrop)="onPictureDroppped($event)"
        pictures-grid
      ></div>
    </mat-card-content>
  </mat-card>
</main>

<!--<router-outlet></router-outlet> -->
